<mat-toolbar color="primary">
    <button mat-icon-button (click)="nav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>NaaSS (MVP)</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="account">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #account="matMenu">
        <ng-template matMenuContent>
            <button mat-menu-item disabled>{{loggedIn ? "로그인 됨" : "로그인 안 됨"}}</button>
            <button mat-menu-item (click)="logout()">{{loggedIn ? "로그아웃하기" : "로그인하기"}}</button>
        </ng-template>
    </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #nav opened mode="side">
        <mat-nav-list>
            <mat-list-item *ngFor="let route of routes" [routerLink]="route.path">
                <mat-icon *ngIf="route?.icon">{{route?.icon}}</mat-icon>
                <a mat-list-item>{{route.label}}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a aliquam mi, id porta nunc. Praesent
                sed
                sapien ac lorem imperdiet accumsan a in tortor. Nulla eget dignissim lectus, nec laoreet ex. Nulla
                vehicula
                augue eu libero tempor, a mollis augue tincidunt. Donec rhoncus fermentum sem in iaculis. Cras posuere
                sed
                ante vitae malesuada. Phasellus eget mi ac nisl molestie gravida. Curabitur convallis, tortor at
                fermentum
                condimentum, dolor diam posuere nisl, ut fringilla mauris massa a diam. Nunc egestas nisi in malesuada
                ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla eget condimentum nisi. Cras
                pharetra tortor non justo bibendum, sit amet placerat turpis mollis.
            </p>
            <p>
                Nam condimentum dictum nulla malesuada laoreet. Quisque aliquet metus felis, ac laoreet leo congue sed.
                Praesent commodo nibh sed sagittis fringilla. Integer eu congue urna. Vestibulum non massa vitae risus
                convallis pulvinar in euismod nunc. Curabitur orci nulla, maximus nec laoreet sit amet, varius viverra
                nisi.
                Suspendisse sodales, orci id consequat fringilla, nulla nunc rutrum ligula, ut lacinia tortor tellus nec
                dui. Nullam arcu augue, porttitor semper orci et, convallis viverra nunc. Fusce vel pulvinar ex, eget
                imperdiet tortor. Phasellus aliquet vehicula tortor iaculis sagittis. Cras id lorem aliquet, mollis erat
                eu,
                varius leo. Duis ultricies lobortis mauris, eget sodales augue pellentesque quis. Vivamus volutpat,
                massa
                nec consequat dignissim, sem mi porta lorem, ac vestibulum dui leo vel sapien. Nunc quis nibh nunc.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas varius
                nec
                dolor nec consectetur.
            </p>
            <p>
                Pellentesque at ligula tortor. Nulla porttitor gravida ipsum vitae pellentesque. Maecenas dictum lacus
                bibendum ante consequat vulputate. Etiam erat neque, porttitor vitae lorem a, pellentesque rhoncus urna.
                Integer vitae nibh finibus, imperdiet enim ac, venenatis justo. Sed consectetur eros at urna commodo
                condimentum. Aliquam urna leo, feugiat sed tempor sed, convallis in nisl. Mauris eu auctor magna,
                dignissim
                dignissim nulla. Vestibulum vestibulum magna eget sem imperdiet tincidunt. Ut id nulla quam. Ut ex
                felis,
                sodales ac sollicitudin vitae, commodo vitae est.
            </p>
            <p>
                Mauris semper posuere vehicula. Donec auctor id quam sed dictum. Nam ut posuere massa, at tempor nulla.
                Maecenas fermentum massa posuere ligula vulputate sodales. Donec consequat sagittis massa a commodo. Sed
                et
                leo ante. In placerat lobortis lectus quis tincidunt. Phasellus mollis urna convallis lacus faucibus
                posuere. Donec dui lorem, luctus id consectetur quis, mattis et dolor. Quisque auctor, diam in
                ullamcorper
                maximus, erat nisl suscipit tortor, rutrum sollicitudin tortor enim in lorem. Ut vestibulum est eu
                ligula
                aliquam, vel aliquet tortor tempus. Aenean pharetra dui nec ligula auctor tincidunt. Curabitur tortor
                sem,
                rutrum vitae felis in, blandit lobortis diam.
            </p>
            <p>
                Morbi commodo sed nulla vel consequat. Ut sed nisi ac dui euismod dictum. Morbi ullamcorper augue at
                elit
                tristique tempor. In dictum fermentum suscipit. Nam aliquet sapien eget enim gravida, ac dapibus mi
                congue.
                Pellentesque non mauris lacinia, accumsan leo sed, ornare sem. Nunc eu est at elit molestie consequat eu
                non
                felis. Phasellus interdum massa mi, vitae mattis dolor pretium in. Morbi nec faucibus augue.
            </p>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>